@font-face {
font-family: Franklin;
src: url("/fonts/fb.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
}

/* Prevent line-height variation */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

a {
  text-decoration: none;
  color: black;
}

.exponential {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  line-height: 80%;
  position: relative;
}

.frank {
  font-family: Franklin;
  line-height: 80%;
}
