@font-face {
  font-family: Franklin;
  src: url("/fonts/fb.ttf");
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  box-sizing: border-box;
}

body {
  padding: 10px;
  background: #f1f1f1;
}

header {
  font-family: Franklin;
  padding: 10px;
  text-align: center;
  background: white;
  font-size: 8vw;
}

nav {
  position: relative;
}
nav a {
  font-family: Franklin;
  display:block;
  color:black;
  padding: 5px;
  text-decoration: none;
}
nav input
{
  width: 40px;
  height: 40px;
  position: absolute;
  left:5px;
  top:5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.bar {
  background-color: #1E1E23;
  padding: 10px;
  cursor: pointer;
}
nav a:hover{background-color:#333;color:white;}
#menupanel {
  font-family:Franklin;
  font-size:18px;
  position: absolute;
  box-shadow: 0 0 10px #85888C;
  padding:10px;
  background-color: #F5F6FA;
  transform-origin: 0% 0%;
  z-index:1;
  display:none;
  top:0;
}
nav input:checked ~ #menupanel {display:block}

nav input:checked ~ .blocker {display:block}
nav .blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
display:none;
  }

.article {
  background-color: beige;
  text-align:center;
  padding: 20px;
  margin: 10px;
}

.container {
  background-color: #ddd;
  padding: 10px;
}

.card {
  display: inline-block;
  background-color: white;
  height: 250px;
  width: 300px;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
  text-align: center;
  overflow: hidden;
}
input {
  background-color: #ddd;
}

button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  color: white;
  background-color: #555;
  margin:5px;
}

h3 {font-size: 1.5em;}
