* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
}

/* Header */
header {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 10vw;
  text-align: center;
  background: white;
  padding: 10px;
}

/* Style the top navigation bar */
nav {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  overflow: hidden;
  background-color: #333;
  user-select: none;
}

/* Style the topnav links */
nav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
nav a:hover { background-color: #ddd; color: black; }

.flex-center { display:flex; justify-content:center; }

/* Prevent line-height variation */
sup, sub {
  font-size:75%;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { top: 0.4em; }

.exponential { font-family: "Times New Roman", Times, serif; font-weight: bold; }

/* used in hidden panels in SIR */
.content { padding: 20px; background-color: #f1f1f1; }

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  color: white;
  background-color: #555;
  text-align: center;
  margin: 10px;
}

p { line-height: 1.4em; margin-top: 10px; }

h2 { margin-bottom: 10px; }

input { background-color: #ddd; }

article {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 1.4em;
  background-color: white;
  padding: 20px;
  border: 20px solid;
  border-color: #ddd;
}

article h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1ex 0;
}

article h1 { font-size: 2.4em; text-align: center; }
article h2 { font-size: 1.8em; text-align: left; }
article h3 { font-size: 1.5em; text-align: center; }
article h4 { font-size: 1.3em; text-align: center; }

article th, td {
  padding: 3px;
}

article a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 0.9em;
  color: black;
}

article img {
  display: inline-block;
  width: 45%;
}

article img.center {
  display: block;
  margin: auto;
  width: 45%;
}

article div.text-center { text-align: center; }

article .arialblack { font-family: "Arial Black", Gadget, sans-serif; }

article .arial { font-family: Arial, Helvetica, sans-serif; }

.strip { display: block; width: 100%; padding: 0px; margin: 0px; }

.stripimg { width: 32%; }

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 0.9em;
}

figure {
  display: inline-block;
  font-size: 1.3em;
  background-color: white;
  height: 250px;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
}

figcaption {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

/* Footer */
footer {
  padding: 5px;
  text-align: center;
  background: #ccc;
  margin-top: 5px;
  font-weight: bold;
  font-size: 21px;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

tr { vertical-align: baseline; }

tr td {
  text-align: right;
}

tr th {
  text-align: center;
}

article .noindent {
  margin-bottom: 0.25em;
  text-indent: 0em;
  text-align: left;
}
article .indent {
  margin-bottom: 0.25em;
  text-indent: 2em;
  text-align: left;
}

article figure {
  display: block;
  width: 50%;
  height: 50%;
  text-align: center;
  margin: auto;
}

article figcaption {
  font-size: 0.6em;
}

.right { text-align: right; }

/* Responsive layout - when the screen is less than 900px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  figure { display: inline-block; font-size: 1.3em; background-color: white; width: 95%; padding: 20px; margin: 10px; vertical-align: top; }
  figure img { width: 100%; }
  .stripimg { width: 98%; }
  nav a { float: none; width: 100%; }
  article img { width: 90%; margin:0.25em; }
  article { font-size: 18px; }
  footer h2 a { font-size: 18px; }
  svg { width: 100% }
  embed { width: 100% }
}

/* Responsive layout - when the screen is less than 400px wide, reduce text */
@media screen and (max-width: 400px) {
  article { font-size: 12px; }
}