/* Cards: 250px wide or high */
.cardw-250px { background-color: white; width: 250px; padding: 20px; margin: 10px; }

.cardh-250px { display: inline-block; background-color: white; height: 250px; padding: 20px; margin: 10px; vertical-align: baseline; }

div.cardh-250px h2 {margin:0px;}

div.cardw-250px h2 {margin:0px;}

.h-180px {height: 180px; margin-top: 6px;}

.w-210px {width: 210px; margin: 10px 0px;}

.card { display: block; background-color: white; padding: 20px; margin: 10px; }

.panel { display: block; background-color: beige; border: 10px solid; border-color: #ddd; }

.container { display: flex; background-color: #ddd; border: 10px solid; border-color: #ddd; }
