* {
          margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background: transparent;
        box-sizing: border-box;
}

figure {
display: inline-block;
font-size: 1.3em;
background-color: white;
height: 250px;
padding: 20px;
margin: 10px;
vertical-align: top;
}

figcaption {
	text-align: top;
}

figure img {height: 180px;}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
header {
  padding: 10px;
  text-align: center;
  background: white;
}

header h1 {
	font-family: Arial black;
	font-size: 7vw;
}

/* Style the top navigation bar */
nav {
	font-family: Arial Black;
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
nav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
	text-decoration: none;
	color: black;
}

/* Change color on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

.row {
	display: flex;
	background-color: #ddd;
	padding: 10px;	
	}
	
/* Left column */
.lcolumn { flex-grow: 1; margin: 0px; vertical-align: top; padding: 0px; }

/* Left column */
.rcolumn { flex-shrink: 1; margin: 0px; vertical-align: top; padding: 0px; }

/* Add a card effects for left and right columns */
.right-card {
  background-color: white;
  width: 250px;
  padding: 20px;
  margin: 10px;
}

.left-card {
  background-color: #ccc;
  padding: 20px;
  margin: 10px;
}

/* Footer */
footer {
  padding: 5px;
  text-align: center;
  background: #ccc;
  margin-top: 5px;
}

footer h2 a {
font-family: Arial;
  font: bold;
  font-size: 21px;
}

/* Responsive layout - when the screen is less than 900px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
	.row { display: flex;	background-color: #ddd; padding: 0px; flex-direction: column; }
	figure { display: inline-block; font-size: 1.3em; background-color: white; width: 95%; padding: 20px; margin: 10px; vertical-align: top; }
	figure img {width: 100%;}
	.lcolumn { width: 100%; padding: 0; }
	nav a { float: none; width: 100%; }
}

}