.scaler {
  width: 2000px;
  height: 240px;
  padding-top: 20px;
  text-align: center;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  background:orange;
}

.wrapper {
  position: relative;
  background: gray;
}
.rulespace {
  display: block;
  background: green;
  width: 2000px;
  height:auto;
}
.rule {
  display: block;
  vertical-align: middle;
  margin: auto;
  width: 1050px;
  height:70px;
}
.zl {
  margin: auto;
  width: 0px;
  border-right: 1px solid red;
  border-left: 1px solid red;
  height: 160px;
}
.glass {
  width: 100px;
  height: 160px;
  border: 2px solid grey;
  margin: auto;
}

.zotblk {
  position: absolute;
  display: block;
  z-index: 20;
  width: 40px;
  font-size:medium;
  text-align: center;
}
.run {
  position: absolute;
  display: block;
  z-index: 20;
  width: 120px;
  text-align: center;
  white-space: nowrap;
}
.rule::selection {
    background-color: transparent;
    color: #000;
}

.itext {
  font-size: large;
  user-select:none;
}

.iStrip {
width:2000px;
height:75px;
background:transparent;
}
