button {
  background: #99CC00;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

button:hover {
  background: #66AA00;
}