* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
}

/* Header */
header {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 10vw;
  text-align: center;
  background: white;
  padding: 10px;
}

/* Style the top navigation bar */
nav {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  overflow: hidden;
  background-color: #333;
  user-select: none;
}

/* Style the topnav links */
nav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
nav a:hover { background-color: #ddd; color: black; }

.container { display: flex; background-color: #ddd; padding: 10px; }


.item { 
  flex-grow: 1;
  margin: 0px;
  vertical-align: top;
  padding: 0px;
}

.flex-center { display:flex; justify-content:center; }

.card { background-color: white; padding: 20px; margin: 10px; }

/* Cards: 250px wide or high */
.cardw-250px { background-color: white; width: 250px; padding: 20px; margin: 10px; }

.cardh-250px { display: inline-block; background-color: white; height: 250px; padding: 20px; margin: 10px; vertical-align: baseline;}

img.h-180px {height: 180px; margin-top: 6px;}

/* Prevent line-height variation */
sup, sub {
  font-size:75%;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { top: 0.4em; }

.exponential { font-family: "Times New Roman", Times, serif; font-weight: bold; }

.content { padding: 20px; background-color: #f1f1f1; }

/* css for hidden regions */
details { background-color: #f1f1f1; margin-bottom: 10px; }

summary {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #777;
  color: white;
  padding: 10px;
  font-size: 18px;
}

summary:hover { background-color: #555; }

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  color: white;
  background-color: #555;
}

p { font-size: 18px; line-height: 1.4em; margin-top: 10px; }

h2 { margin-bottom: 10px; }

input { background-color: #ddd; }

.sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em }

article {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 1.4em;
}

article h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1ex 0;
}

article h1 { font-size: 2.4em; text-align: center; }
article h2 { font-size: 1.8em; text-align: left; }
article h3 { font-size: 1.5em; text-align: center; }
article h4 { font-size: 1.3em; text-align: left; }

article th, td {
  padding: 3px;
}

article a {
  text-decoration: none;
  font-family: "Arial Black", Gadget, sans-serif;
  color: black;
}

article img {
  display: inline-block;
  width: 45%;
}

article img.center {
  display: block;
  margin: auto;
  width: 45%;
}

article div.text-center {
  text-align: center;
}

article .arialblack {
  font-family: "Arial Black", Gadget, sans-serif;
}

.strip { display: block; width: 100%; padding: 0px; margin: 0px; }

.stripimg { width: 32%; }

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

figure {
  display: inline-block;
  font-size: 1.3em;
  background-color: white;
  height: 250px;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
}

figcaption {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

/* Footer */
footer {
  padding: 5px;
  text-align: center;
  background: #ccc;
  margin-top: 5px;
  font-weight: bold;
  font-size: 21px;
}

table { margin: 0 auto; }

tr { vertical-align: baseline; }

div.noindent {
  margin-bottom: 0.25em;
  text-indent: 0em;
  text-align: left;
}
div.indent {
  margin-bottom: 0.25em;
  text-indent: 2em;
  text-align: left;
}
div.image {
  font-family: Arial;
  font-size: 1em;
  margin-bottom: 0.25em;
  width: 50%;
  margin: auto;
  text-indent: 0;
}

div.image figure {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
div.label {
  font-family: Arial;
  font-size: 1em;
  margin-bottom: 0.25em;
}

/* Responsive layout - when the screen is less than 900px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .container { display: flex; background-color: #ddd; padding: 0px; margin: 0px; flex-direction: column; }
  .card { background-color: white; width: 100%; padding: 5px; margin: 0px; }
  figure { display: inline-block; font-size: 1.3em; background-color: white; width: 95%; padding: 20px; margin: 10px; vertical-align: top; }
  figure img { width: 100%; }
  .stripimg { width: 98%; }
  nav a { float: none; width: 100%; }
  article img { width: 90%; margin:0.25em; }
  article { font-size: 18px; }
  footer h2 a { font-size: 18px; }
  svg { width: 100% }
  embed { width: 100% }
  div.image {width: 100%;}
}

/* Responsive layout - when the screen is less than 400px wide, reduce text */
@media screen and (max-width: 400px) {
  article { font-size: 12px; }
}