.inner {position:absolute;width:610px;left:0;top:0;transform-origin:50% 50%;}
    .inner::selection {background-color:transparent;color:#000;}
    .ctext {position:absolute;top:610px;width:610px;height:80px;font-size:large;user-select:none;}
    .cScaler {
      width: 610px;
      height: 690px;
      text-align: center;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center center;
      background:orange;
    }

    .wrapper {
      position: relative;
      background: gray;
    }