/* Cards: 250px wide or high */
.cardw-250px { background-color: white; width: 250px; padding: 20px; margin: 10px; }

.cardh-250px { display: inline-block; background-color: white; height: 250px; padding: 20px; margin: 10px; vertical-align: baseline;}

img.h-180px {height: 180px; margin-top: 6px;}

.content {
  padding: 0px;
  background-color: white;
}

details {
	background-color: #f1f1f1;
	margin-bottom: 10px;
}

summary {
	font-family: Arial;
	font-weight: bold;
	background-color: #777;
	color: white;
	padding: 10px;
	font-size: 18px;
}

button {	display: none; }

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background: transparent;
        box-sizing: border-box;
}

body {
  font-family: Arial;
  background: white;
}

p {
	font-size: 18px;
	line-height: 140%;
	margin-top: 10px;
}

h2 {
margin-bottom: 10px;
}

/* Header/Blog Title */
header {
  text-align: left;
  background: white;
}

header h1 {
  font-size: 36px;
  padding: 10px;
}

/* Style the top navigation bar */
nav {
	display: none;
}

article {
	display: block;
font-family: Times;
font-size: 18px;  
}

article a {
	text-decoration: none;
	font-family: Arial Black;
	color: black;
}

article img {
	width: 45%;
margin: 10px;
}

.container {
  display: block;
  background-color: #ddd;
  padding: 0px;
  }


.item { 
  flex-grow: 1;
  margin: 0px;
  vertical-align: top;
  padding: 0px;
}

/* Add a card effects for left and right columns */
.right-card {
  background-color: white;
  width: 250px;
  padding: 0px;
  margin: 0px;
}

.left-card {
  background-color: white;
  padding: 0px;
  margin: 0px;
}

.strip {
display: block;
width: 100%;
padding: 0px;
margin: 0px;
}

.stripimg {
width: 32%;
}


figure {
display: inline-block;
font-size: 1.3em;
background-color: white;
height: 250px;
padding: 20px;
margin: 10px;
vertical-align: top;
}

table { margin: 0 auto; /* or margin: 0 auto 0 auto */ page-break-inside:auto; }
tr    { page-break-inside:avoid; page-break-after:auto }
    
figcaption {
	margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

/* Footer */
footer {
  padding: 5px;
  text-align: center;
  background: #ccc;
  margin-top: 5px;
}

footer h2 a {
font-family: Arial;
  font-weight: bold;
  font-size: 21px;
}


table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }

tr {
	vertical-align: baseline;
	}

h1.part_ {
	font-family: Arial;
	font-weight: bold;
	font-size: 2.4em;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 1.5ex;
	text-align: center;
	}

div.noindent {
	margin-bottom: 0.25em;
	text-indent: 0em;
	}
div.indent {
	margin-bottom: 0.25em;
	text-indent: 2em;
	}
div.image {
	margin-bottom: 0.25em;
	text-indent: 0em;
	text-align: center;
	}
div.label {
	font-family: Arial;
	font-size: 1em;
	margin-bottom: 0.25em;
}
h2.section_ {
	font-family: Arial;
	font-weight: bold;
	font-size: 2.1em;
	margin-top: 1.3ex;
	margin-bottom: 0.7ex;
	text-align: center;
	}
h3.subsection_ {
	font-family: Arial;
	font-weight: bold;
	font-size: 1.8em;
	margin-top: 1ex;
	margin-bottom: 0.5ex;
	text-align: center;
}
h4.subsubsection_ {
	font-family: Arial;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 0.7ex;
	margin-bottom: 0.4ex;
	text-align: center;
	}

input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}	
